<!--@subject {{trans "New Customer Registration on %store_name: %customer_name" store_name=$store.getFrontendName() customer_name=$customer_name}} @-->
<!--@vars {
"var customer_email":"Customer Email",
"var customer_name":"Customer Name",
"var customer_id":"Customer Id"
} @-->

{{template config_path="design/email/header_template"}}

<p class="greeting">Dear Admin,</p>
<p>{{trans "New customer registered on %store_name." store_name=$store.getFrontendName()}}.</p>
<p>{{trans "See customer information below:"}}</p>

<table>
    <tr>
        <th>{{trans "Customer ID:"}}</th>
        <td>{{var customer_id}}</td>
    </tr>
    <tr>
        <th>{{trans "Customer E-mail:"}}</th>
        <td>{{var customer_email}}</td>
    </tr>
    <tr>
        <th>{{trans "Customer Name:"}}</th>
        <td>{{var customer_name}}</td>
    </tr>
</table>


{{template config_path="design/email/footer_template"}}
